In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('hour.csv')
df

        data  hora_ini  hora_fim
0   30/10/23  14:00:00  17:30:00
1   31/10/23  09:00:00  12:30:00
2   31/10/23  13:30:00  18:30:00
3   01/11/23  09:00:00  12:05:00
4   01/11/23  13:15:00  17:30:00
5   06/11/23  09:00:00  12:05:00
6   06/11/23  13:25:00  18:30:00
7   07/11/23  10:20:00  12:05:00
8   07/11/23  13:05:00  18:20:00
9   08/11/23  09:00:00  11:30:00
10  08/11/23  14:00:00  19:00:00
11  09/11/23  09:00:00  11:25:00
12  09/11/23  13:00:00  18:50:00
13  10/11/23  08:10:00  12:00:00
14  10/11/23  13:00:00  15:30:00
15  13/11/23  09:00:00  12:15:00
16  13/11/23  13:15:00  18:00:00
17  14/11/23  10:15:00  13:00:00
18  14/11/23  14:00:00  18:00:00
19  16/11/23  09:00:00  12:00:00
20  17/11/23  09:00:00  12:40:00
21  20/11/23  09:00:00  11:00:00
22  21/11/23  13:00:00  19:00:00
23  22/11/23  09:50:00  19:00:00
24  23/11/23  08:00:00  13:15:00
25  23/11/23  15:00:00  18:00:00
26  24/11/23  04:00:00  09:00:00

In [3]:
df['hora_ini'] = pd.to_datetime(df['hora_ini'], format='%H:%M:%S')
df['hora_fim'] = pd.to_datetime(df['hora_fim'], format='%H:%M:%S')

df['tempo_total'] = df['hora_fim'] - df['hora_ini']

def formatar_tempo(total):
    horas, restante = divmod(total.total_seconds(), 3600)
    minutos, segundos = divmod(restante, 60)
    return f'{int(horas):02d}:{int(minutos):02d}:{int(segundos):02d}'

# Aplica função à coluna 'tempo_total' para formatar o tempo
df['tempo_total'] = df['tempo_total'].apply(formatar_tempo)

df

        data            hora_ini            hora_fim tempo_total
0   30/10/23 1900-01-01 14:00:00 1900-01-01 17:30:00    03:30:00
1   31/10/23 1900-01-01 09:00:00 1900-01-01 12:30:00    03:30:00
2   31/10/23 1900-01-01 13:30:00 1900-01-01 18:30:00    05:00:00
3   01/11/23 1900-01-01 09:00:00 1900-01-01 12:05:00    03:05:00
4   01/11/23 1900-01-01 13:15:00 1900-01-01 17:30:00    04:15:00
5   06/11/23 1900-01-01 09:00:00 1900-01-01 12:05:00    03:05:00
6   06/11/23 1900-01-01 13:25:00 1900-01-01 18:30:00    05:05:00
7   07/11/23 1900-01-01 10:20:00 1900-01-01 12:05:00    01:45:00
8   07/11/23 1900-01-01 13:05:00 1900-01-01 18:20:00    05:15:00
9   08/11/23 1900-01-01 09:00:00 1900-01-01 11:30:00    02:30:00
10  08/11/23 1900-01-01 14:00:00 1900-01-01 19:00:00    05:00:00
11  09/11/23 1900-01-01 09:00:00 1900-01-01 11:25:00    02:25:00
12  09/11/23 1900-01-01 13:00:00 1900-01-01 18:50:00    05:50:00
13  10/11/23 1900-01-01 08:10:00 1900-01-01 12:00:00    03:50:00
14  10/11/23 1900-01-01 13:00:00 1900-01-01 15:30:00    02:30:00
15  13/11/23 1900-01-01 09:00:00 1900-01-01 12:15:00    03:15:00
16  13/11/23 1900-01-01 13:15:00 1900-01-01 18:00:00    04:45:00
17  14/11/23 1900-01-01 10:15:00 1900-01-01 13:00:00    02:45:00
18  14/11/23 1900-01-01 14:00:00 1900-01-01 18:00:00    04:00:00
19  16/11/23 1900-01-01 09:00:00 1900-01-01 12:00:00    03:00:00
20  17/11/23 1900-01-01 09:00:00 1900-01-01 12:40:00    03:40:00
21  20/11/23 1900-01-01 09:00:00 1900-01-01 11:00:00    02:00:00
22  21/11/23 1900-01-01 13:00:00 1900-01-01 19:00:00    06:00:00
23  22/11/23 1900-01-01 09:50:00 1900-01-01 19:00:00    09:10:00
24  23/11/23 1900-01-01 08:00:00 1900-01-01 13:15:00    05:15:00
25  23/11/23 1900-01-01 15:00:00 1900-01-01 18:00:00    03:00:00
26  24/11/23 1900-01-01 04:00:00 1900-01-01 09:00:00    05:00:00

In [4]:
# Converte as colunas para o formato de tempo
df['hora_ini'] = pd.to_datetime(df['hora_ini'], format='%H:%M:%S')
df['hora_fim'] = pd.to_datetime(df['hora_fim'], format='%H:%M:%S')

# Calcula diferença entre as colunas 'hora_ini' e 'hora_fim'
df['tempo_total'] = df['hora_fim'] - df['hora_ini']

# Função para formatar a saída
def formatar_tempo(total):
    horas, restante = divmod(total.total_seconds(), 3600)
    minutos, segundos = divmod(restante, 60)
    return f'{int(horas):02d}:{int(minutos):02d}:{int(segundos):02d}'

# Aplica função à coluna 'tempo_total' para formatar o tempo
df['tempo_total'] = df['tempo_total'].apply(formatar_tempo)

# Calcula o tempo total da coluna 'tempo_total'
tempo_total = df['tempo_total'].apply(lambda x: pd.to_timedelta(x)).sum()

# Cria função para formatar o tempo total
def formatar_tempo_total(total):
    horas, restante = divmod(total.total_seconds(), 3600)
    minutos, segundos = divmod(restante, 60)
    return f'Total de horas trabalhadas: {int(horas):02d}:{int(minutos):02d}:{int(segundos):02d}'

# Exiba o total de horas trabalhadas
print(formatar_tempo_total(tempo_total))

# Valor da hora
valor_hora = 30  # Em reais

# Converta o tempo total para horas (em float)
tempo_total_em_horas = tempo_total.total_seconds() / 3600

# Calcule o valor total
valor_total = valor_hora * tempo_total_em_horas

# Exiba o valor total
print(f'Valor total: R${valor_total:.2f}')

Total de horas trabalhadas: 108:25:00
Valor total: R$3252.50

In [5]:
100*30

3000