In [1]:
import os
import psycopg2
from psycopg2 import sql
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine


load_dotenv()

HOST = os.getenv("HOST")
POSTGRES_DB = os.getenv("POSTGRES_DB")
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")


# Informações de conexão com o banco de dados PostgreSQL
db_config = {
    "host": HOST,
    "database": POSTGRES_DB,
    "user": POSTGRES_USER,
    "password": POSTGRES_PASSWORD,
}

In [2]:
# carregando tabela
file_path = "../../Data/Base/relacao_full_tiny.xlsx"
mcenter = "Musical"
cristiano = "Cristiano"
bueno = "M A Bueno"

df_mcenter = pd.read_excel(file_path, sheet_name=mcenter)
df_cristiano = pd.read_excel(file_path, sheet_name=cristiano)
df_bueno = pd.read_excel(file_path, sheet_name=bueno)

In [3]:
cols = ["inventory_id", "Tipo de produto"]

df_mcenter = df_mcenter[cols]
df_cristiano = df_cristiano[cols]
df_bueno = df_bueno[cols]

In [10]:
df_mcenter = df_mcenter.rename(columns={"Tipo de produto": "type"})
df_cristiano = df_cristiano.rename(columns={"Tipo de produto": "type"})
df_bueno = df_bueno.rename(columns={"Tipo de produto": "type"})

In [15]:
print(df_mcenter.shape)
print(df_cristiano.shape)
print(df_bueno.shape)

df_mcenter = df_mcenter.drop_duplicates()
df_cristiano = df_cristiano.drop_duplicates()
df_bueno = df_bueno.drop_duplicates()

print(df_mcenter.shape)
print(df_cristiano.shape)
print(df_bueno.shape)

(499, 2)
(51, 2)
(251, 2)
(361, 2)
(51, 2)
(229, 2)

In [16]:
## populando base de dados
conn_db = create_engine(
    f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{HOST}/{POSTGRES_DB}"
)

In [17]:
# Nome da tabela no PostgreSQL
table_mcenter = "mcenter_types"
table_cris = "cris_types"
table_bueno = "bueno_types"

# Inserir dados na tabela
df_mcenter.to_sql(table_mcenter, conn_db, index=False, if_exists="replace")
df_cristiano.to_sql(table_cris, conn_db, index=False, if_exists="replace")
df_bueno.to_sql(table_bueno, conn_db, index=False, if_exists="replace")

229

In [18]:
# Confirmar a inserção
query = f"SELECT * FROM {table_mcenter};"
result = pd.read_sql_query(query, conn_db)
result

    inventory_id             type
0      ITMG31457         Afinador
1      SKXW47953     Amplificador
2      VGBX48763     Amplificador
3      VUYV97753          Baqueta
4      DSGP06967          Baqueta
..           ...              ...
356    BZGW44149          Ukulele
357    XPNR45178          Ukulele
358    IRUD34507  Violao Infantil
359    MHXR70863  Violão Infantil
360    AGDL67534          Violino

[361 rows x 2 columns]

In [19]:
query = f"SELECT * FROM {table_cris};"
result = pd.read_sql_query(query, conn_db)
result

   inventory_id               type
0     GOYP17092  Acordeon infantil
1     KGZZ89270  Acordeon infantil
2     DGMW97350             Violão
3     MMFT30494           Guitarra
4     RWRR30846        Contrabaixo
5     LLDE88401           Guitarra
6     AGYY89844           Guitarra
7     VLWK91251           Guitarra
8     KKGW88137           Guitarra
9     WCTG88354           Guitarra
10    SSIH91035           Guitarra
11    CPRQ90376           Guitarra
12    WGDP88625           Guitarra
13    GNAY89939           Guitarra
14    ACBX96049           Guitarra
15    LROT89023         Direct box
16    NWDU90934         Direct box
17    CPRQ90324             Violão
18    XDIY00082            Ukulele
19    TGWN96650             Violão
20    LBLU95413              Caixa
21    WUKX94837              Caixa
22    IVWT95612              Caixa
23    XQVO00216              Caixa
24    VRME00762              Caixa
25    MDDX95988              Caixa
26    XEGE95360              Caixa
27    QVOK95114              Caixa
28    RFOC00789              Caixa
29    GGHX00903              Caixa
30    UQCD00762              Caixa
31    WYGR96303              Caixa
32    LDAC97015              Caixa
33    GXOM30321            Suporte
34    VAGV89301           Escaleta
35    AEYS88396            Correia
36    OQSJ90492           Guitarra
37    NJXA90250           Guitarra
38    FMUV90638           Guitarra
39    AKOJ90437           Guitarra
40    VHRN90158            Correia
41    IIKC90307               Mesa
42    SAGY91768               Mesa
43    TZFM91331               Mesa
44    UORD89925              Prato
45    KHFD90751              Prato
46    QHYZ00893           Guitarra
47    NYZA98888             Violão
48    QNYE96569            Ukulele
49    QTJU95736               Cabo
50    WOCN96065               Cabo

In [20]:
query = f"SELECT * FROM {table_bueno};"
result = pd.read_sql_query(query, conn_db)
result

    inventory_id              type
0      ROJN00631           Suporte
1      FMVG00665           Suporte
2      UXML81050           Suporte
3      DFRI84853           Ukulele
4      ZEKN80955               Kit
..           ...               ...
224    GNJM94757          Pandeiro
225    QUZD96422  Bateria infantil
226    TAEG94465  Bateria infantil
227    EXWA94047  Bateria infantil
228    BBIN94522  Bateria infantil

[229 rows x 2 columns]